<p id="notice"><%= notice %></p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user %>
</p>

<p>
  <strong>Event type:</strong>
  <%= @event.event_type %>
</p>

<p>
  <strong>Otheruser:</strong>
  <%= @event.otheruser %>
</p>

<p>
  <strong>Message:</strong>
  <%= @event.message %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
